.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .profile-picture {
    margin-right: 20px;
  }
  
  .profile-picture img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
  }
  
  .profile-details {
    flex: 1;
  }
  
  .dentist-details,
  .patient-details {
    margin-top: 20px;
  }
  
  .error {
    color: red;
  }
  